<h1>Create a New Item</h1>

<%= form_for(@item) do |f| %>
  <ul>
  <% @item.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
  </ul>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.label :objectives %><br />
    <%= f.text_field :objectives %>
  </p>
  <p>
    <%= f.label :services %><br />
    <%= f.text_field :services %>
  </p>
  <p>
    <%= f.label :image %><br />
    <%= f.file_field :image, direct_upload: true  %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>